<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="DFNetwork.Framework" version="1.0.0.1" targetFramework="net451" />
  <package id="DFNetwork.Tcp.Client" version="1.0.0.0" targetFramework="net451" />
  <package id="DFNetwork.Tcp.Shared" version="1.0.0.0" targetFramework="net451" />
  <package id="NBug" version="1.2.2" targetFramework="net451" />
  <package id="NLog" version="3.1.0.0" targetFramework="net451" />
  <package id="SCP" version="1.62.163" targetFramework="net451" />
</packages>